@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #c3cfe2, #b3a5dd);
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-height: 100vh;
}

.nav-container {
    background-color: #483876;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.nav-panel {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    color: beige;
}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-title h1 {
    color: #ffd700;
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
}

.nav-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.nav-info span {
    font-size: 1.4rem;
    margin: 0.3rem 0.5rem 0 0.5rem;
    color: beige;
}

.nav-info button {
    border: none;
    padding: 0.3rem 0.5rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
    border-radius: 0.9rem;
    font-weight: 600;
    color: black;
    background-color: #fc7878;
}

.nav-info button:hover {
    scale: 1.05;
    background-color: #fc7878da;
}

main {
    flex: 1;
    width: 90%;
    /* max-width: 800px; */
    max-width: 625px;
    background-color: #f5f5dc;
    border-radius: 2rem;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2rem; */
    margin-bottom: 2rem;
}

.body-info {
    width: 100%;
    background-color: #191429;
    color: #f5f5dc;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.form-container {
    width: 100%;
    max-width: 600px;
}

main h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: steelblue;
    position: relative;
    padding-bottom: 1rem;
}

main h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: steelblue;
    border-radius: 2px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

label {
    width: 40%;
    font-size: 1.2rem;
    margin-right: 0.5rem;
    font-weight: 500;
    white-space: nowrap;
    color: #555;
}

#submit-btn {
    background: linear-gradient(45deg, #191429, steelblue);
    display: block;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    margin: 12% auto;
    font-size: 1rem;
    width: 200px;
}

#submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(102, 126, 234, 0.3);
}

#submit-btn:active {
    transform: translateY(0);
}