@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #c3cfe2, #483876);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-evenly;
}

h1 {
  text-align: center;
  margin-bottom: 10%;
  color: #333;
  position: relative;
  padding-bottom: 1%;
}

h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background-color: #483876;
  border-radius: 2px;
}

.left {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex:1.5;
  /* min-width: 0; */
}



.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

label {
  width: 50%;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  font-weight: 500;
  white-space: nowrap;
  color: #555;
}

.right {
  flex: 1;
}

.right img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 0 1rem 1rem 0;
}


#submit-btn {
  background: linear-gradient(45deg, #191429, #483876);
  align-self: center;
  display: block;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
  margin: 5% 0;
  font-size: 1rem;
}

#submit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(102, 126, 234, 0.3);
}

#submit-btn:active {
  transform: translateY(0);
}

.signup {
  margin: 5% 0;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}