@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #c3cfe2, #b3a5dd);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100vh;
}

.nav-container {
    background-color: #483876;
    width: 100vw;
    /* height: 12vh; */
    display: flex;
    justify-content: space-between;
}

.nav-panel {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    color: beige;
}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-title h1 {
    color: #ffd700;
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
}

.nav-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.nav-info span {
    font-size: 1.4rem;
    margin: 0.3rem 0.5rem 0 0.5rem;
    padding: 0 5px 0 5px;
    color: beige;
    background-color: limegreen;
    border-radius: 7px;
}

.nav-info button {
    border: none;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem 0.5rem 0.2rem 0.5rem;
    border-radius: 10px;
    font-weight: 600;
    color: black;
    background-color: #fc7878;
}

.nav-info button:hover {
    scale: 1.05;
    background-color: #fc7878da;
}

main {
    flex: 1;
    min-width: 725px;
    background-color: #f5f5dc;
    border-radius: 2rem;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
    justify-content: flex-start;
}


.body-info {
    min-width: 100%;
    background-color: #191429;
    color: #f5f5dc;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    padding: 1rem 0;
    gap: 1rem;
}

.body-button {
    flex: 0.1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.body-button button {
    border: none;
    background-color: #00bbd462;
    color: #191429e5;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.body-button button:hover {
    scale: 1.05;
    cursor: pointer;
}

.btn-tab.active {
    background-color: #4f46e5;
    color: white;
}

.btn-tab {
    background-color: #e5e7eb;
    color: #333;
    transition: background-color 0.3s ease;
}

.body-courses {
    flex: 1;
    overflow: hidden;
    width: 100%;
    padding: 1rem;
}

.not-active {
    display: none;
}

.body-courses ul {
    overflow-y: auto;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.body-courses ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bbb8b8;
    padding: 1rem;
    border-radius: 1rem;
    transition: transform 0.2s ease;
}

.body-courses ul li:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.body-courses ul li .course-info {
    margin: 0.3rem 0;
    font-weight: 600;
    width: 70%;
}

#book-btn {
    background-color: #4338ca;
    color: white;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

#book-btn:hover {
    scale: 1.05;
    background-color: #3423e9;
}